.subscribe {
  /* border: 1px solid red; */
}
.subscribe-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}
.sbs-card {
  width: 150px;
  height: 180px;
  border: 1px solid var(--blue-primary);
  border-radius: 7px;
  margin: 0 8px;
  text-align: center;
  padding-top: 20px;
  color: var(--blue-primary);
}

.gold-card {
  height: 200px;
  background: var(--blue-primary);
  border-radius: 7px;
  color: white;
}

.content-btns{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
.rounded-btn{
  background-color: var(--primary-font-color);
  border-radius: 20px;
  width: fit-content;
  padding: 9px 20px;
  color: white;
}