.courses {
  width: 100%;
  min-height: 500px;
  height: 100vh;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.corses-carousel-container {
  width: 100%;
  height: 400px;
  background-color: #003f9d40;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.carousel-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
.carousel-in {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  overflow-x: hidden;
  width: fit-content;
}

/* -==-=-=-=-=-=-=-==-=-=-= */
.course-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  margin: 0 10px;
  gap: 5px;

  width: 538px;
  height: 240px;

  background: rgba(0, 14, 34, 0.5);

  backdrop-filter: blur(12.5px);

  border-radius: 13px;
}
