.login-back {
  background: #bec0ef;
}
.login {
  height: 100vh;
  min-height: 600px;
  display: flex !important;
  align-content: center;
  justify-content: center;
}
.login-form {
  width: 400px;
  height: 600px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(229, 230, 247, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 0 0 150px 150px;
}

.logins-icons {
  background-color: var(--color-pattern-three);
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
}
