* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-pattern-one: #002b6a;
  --color-pattern-two: #00409d;
  --color-pattern-three: #ecebe4;
  --color-pattern-four: #d55353;
  --color-pattern-five: #c53030;
  --color-pattern-six: #000e22;

  --text-dark-mode: #ecebe4;
  --text-light-mode: #ecebe4;

  --primary-font-color: #1d6cdd;
  --secoundary-font-color: rgb(119, 119, 143);
  --blue-primary: #5d94e4;
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-pattern-six);
  color: var(--text-light-mode);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
