* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* --color-pattern-one: #002b6a;
  --color-pattern-two: #00409d;
  --color-pattern-three: #ecebe4;
  --color-pattern-four: #d55353;
  --color-pattern-five: #c53030;
  --color-pattern-six: #000e22;

  --text-dark-mode: #ecebe4;
  --text-light-mode: #ecebe4; */

  --color-pattern-one: #e5e6f7;
  --color-pattern-two: #bec0ef;
  --color-pattern-three: #4149d9;
  --color-pattern-four: #d55353;
  --color-pattern-five: #bec0ef;
  --color-pattern-six: #e5e6f7;

  --text-focused-mode: #3238a6;
  --text-light-mode: #151d26;

  /* ==------============-------== */

  /* --primary-font-color: #1d6cdd;
  --secoundary-font-color: rgb(119, 119, 143);
  --blue-primary: #5d94e4; */
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  background-color: var(--color-pattern-six);
  color: var(--text-light-mode);
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: inherit;
}
.App {
  overflow-x: hidden;
}
